{% extends "layout.jinja2" %}
{% block content %}
<div class="container btn-header">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">New Project</button>
    <br>
</div>

<table id="data" class="table table-striped">
<thead>
    <tr>
        <th>Name</th>
        <th>Created by</th>
        <th>Created in</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for project in projects %}
    <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.created_by.email }}</td>
        <td>{{ project.date_created }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editProjectModal{{project.id}}"><i class="bi bi-pencil-square"></i></button>
                <a class="btn btn-danger btn-sm" href="{{url_for('admin.remove_project', id=project.id)}}"><i class="bi bi-trash"></i></a>
            </div>     
        </td>
    </tr>
    {# Edit Project Modal #}
    <div class="modal fade" id="editProjectModal{{project.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{url_for('admin.edit_project', id=project.id)}}" method="POST">
              <div class="mb-3">
                <label for="project-name" class="col-form-label">Project name:</label>
                <input type="text" class="form-control" id="project-name" name="project-name" required=1 value={{project.name}}>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    
    {% endfor %}
</tbody>
</table>

{# Add Project Modal #}
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('admin.add_project')}}" method="POST">
          <div class="mb-3">
            <label for="project-name" class="col-form-label">Project name:</label>
            <input type="text" class="form-control" id="project-name" name="project-name" required=1>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
        $('#data').DataTable();
        });
    </script>
{% endblock scripts %}