{% extends "layout.jinja2" %}
{% block content %}
<table id="data" class="table table-striped">
<thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Project</th>
        <th>Course</th>
        <th>Admin</th>
        <th>Approved</th>
        <th>Biometry</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.project }}</td>
        <td>{{ user.course }}</td>
        <td>{{ user.admin }}</td>
        <td>
            {# {{user.approved}} #}
            {% if user.approved %}
                <a href="#" class="btn btn-success active" aria-current="page"><i class="bi bi-check-square"></i></a>
            {% else %}
                <a href="#" class="btn btn-primary"><i class="bi bi-x-square"></i></a>
            {% endif %}
        </td>
        <td>{{ user.biometry }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>        
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    null,
                    null,
                    null,
                    {searchable: false},
                    {searchable: false},
                    {searchable: false},
                    {searchable: false},
                    {searchable: false},                                      
                ],              
            });
        });
    </script>
{% endblock scripts %}