{% extends "layout.jinja2" %}
{% block content %}
    <div class="container-sm">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Login to your account</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control") }}   
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control") }}   
                </div>                                       
            </fieldset>
                <br/>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>            
        </form>
    </div>
{% endblock content %}