{% extends "layout.jinja2" %}
{% block content %}
    <div class="container-sm">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Register your new account</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }} 
                    {% endif %}                   
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control") }}   
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control") }}   
                </div>
                <div class="form-group">
                    {{ form.project.label(class="form-control-label") }}
                    {{ form.project(class="form-control") }}   
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control") }}   
                </div>
                <div class="form-group">
                    {{ form.password2.label(class="form-control-label") }}
                    {{ form.password2(class="form-control") }}   
                </div>                                                                                
            </fieldset>
                <br/>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>            
        </form>
    </div>
{% endblock content %}