{% extends "./layout.jinja2" %}

{% block content %}
    <div class="container center">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-4">Oops! An internal server error was found when trying to complete your request.</div>
                <a class="btn btn-link" href="{{ url_for('main.home') }}">Back</a>
            </div>
        </div>
    </div>

{% endblock %}