.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.full-page {
    background: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 1rem;
}

.btn-header {
    margin-bottom: 1rem;
}

.card-col {
    width: 14rem;
}
