{% extends "./layout.jinja2" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 16rem;">
            <img class="img-fluid" src="{{ url_for('static', filename='img/default_user.png')}}" class="card-img-top" alt="Profile Picture">
            <div class="card-body">
                <h5 class="card-title">{{ user.email }}</h5>
                <p class="card-text">{{ user.name }}</p>
                {% if not user.approved %} <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#approval_info">Waiting for Approval</button> {% else %} <button type="button" class="btn btn-success btn-sm">Approved</button> {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project: {{ user.project }}</li>
                <li class="list-group-item">Course: {% if not user.course %} <a href="">Enter Course</a> {% else %} {{ user.course }} {% endif %}</li>
                <li class="list-group-item">Biometry: {% if not user.approved %} Waiting for Approval {% else %} {% if not user.biometry %} <a href="">Create Biometry</a> {% else %} Biometry registered {% endif %} {% endif %} </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Change Password</a>
            </div>
            </div>
        </div>
        <div class="col-9">
            {% if not user.approved and not user.admin %}
            <div class="card mb-3">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <h5 class="card-title">Your account need to be approved</h5>
                    <p class="card-text">To get your account approved, please contact a project manager. You will not be able to register your biometry before that.</p>
                </div>
            </div>              
            {% elif not user.biometry %}
            <div class="card mb-3">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <h5 class="card-title">Register your biometry</h5>
                    <p class="card-text">You need to register your biometry at the portal.</p>
                    <a href="#" class="btn btn-primary">Register</a>
                </div>                
            </div> 
            {% else %}
            
            {% endif %}          
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="approval_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Approval Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if not user.approved %}
            Waiting for approval by the project admin.
        {% else %}
            Approved by {{user.approved_by}} in {{user.date_approved}}.
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}