{% extends "./layout.jinja2" %}
{% block content %}
<div class="container full-page">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img class="img-fluid" src="{{ url_for('static', filename='img/default_user.png')}}" class="card-img-top" alt="Profile Picture">
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">Name</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project: </li>
                <li class="list-group-item">Course: </li>
                <li class="list-group-item">Active: </li>
                <li class="list-group-item">Biometry: </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Edit Profile</a>
            </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}