{% extends "./layout.jinja2" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img class="img-fluid" src="{{ url_for('static', filename='img/default_user.png')}}" class="card-img-top" alt="Profile Picture">
            <div class="card-body">
                <h5 class="card-title">{{ user.email }}</h5>
                <p class="card-text">{{ user.name }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project: {{ user.project }}</li>
                <li class="list-group-item">Course: {% if not user.course %} <a href="">Enter Course</a> {% else %} {{ user.course }} {% endif %}</li>
                <li class="list-group-item">Active: {% if not user.approved %} <a href="">Waiting for approval</a> {% else %} Approved {% endif %} </li>
                <li class="list-group-item">Biometry: {% if not user.biometry %} <a href="">Create Biometry</a> {% else %} Biometry registered {% endif %} </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Change Password</a>
            </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}